
/*
	Icon Bar Color Properties
*/
.icon-bar-blog-about{
	background: #8C88A0 !important;
}

.twitter{
	background: #0080AE !important;
}

.icon-bar-instagram{
	background: #125688 !important;
	/*background: #549BDE;*/
}

