
/*
	Icon Bar Color Properties
*/
.icon-bar-blog-about{
	background: #8C88A0 !important;
}

.icon-bar-instagram {
	background: #125688 !important;
}

.icon-bar-snapChat {
	background: #149675 !important;
}

.icon-bar-twitter{
	background: #0080AE !important;
}

.icon-bar-blog-about > a.active {
    background: #B6B4C5; }

.icon-bar-blog-about > a:hover {
	background: #B6B4C5; }

.icon-bar-twitter > a.active {
    background: #FFFFFF; }

.icon-bar-twitter > a:hover {
	background: #FFFFFF; }

.icon-bar-instagram > a.active {
    background: #FFFFFF; }

.icon-bar-instagram > a:hover {
	background: #FFFFFF; }

.icon-bar-snapChat > a.active {
    background: #FFFF0A; }

.icon-bar-snapChat > a:hover {
	background: #FFFF0A; }

/**
 Div properties 
 **/

.hidden {
	display: none;
}

.visible {
	display: block;
}
