<div id="iconInstagramNavigation" class="icon-bar three-up icon-bar-instagram-internal">
  <a id="gridInstagramNavItem" class="item">
    <img class="icon-bar-image-instagram-internal" id="gridInstagramIcon" src="img/IG-gridoff.png" >
  </a>
  <a id="feedInstagramNavItem" class="item">
    <img class="icon-bar-image-instagram-internal" id="feedInstagramIcon" src="img/IG-feedoff.png" >
  </a>
  <a id="followInstagramNavItem" class="item">
    <img class="icon-bar-follow-image-instagram-internal" id="followInstagramIcon" src="img/IG-follow.png" >
  </a>
</div>