<div id="iconInstagramNavigation" class="icon-bar three-up icon-bar-instagram-internal">
  <a id="homeNavItem" class="item">
    <img class="icon-bar-image-instagram-internal" id="homeNavIconInstagram" src="img/IG-gridoff.png" >
  </a>
  <a id="snapChatNavItem" class="item">
    <img class="icon-bar-image-instagram-internal" id="newsfeedNavIconInstagram" src="img/IG-feedoff.png" >
  </a>
  <a id="instagramNavItem" class="item">
    <img class="icon-bar-image-instagram-internal" id="followButtonInstagram" src="img/IG-follow.png" >
  </a>
</div>