<div id="iconNavigationBar" class="icon-bar five-up">
  <a id="homeNavItem" class="item active">
    <img id="homeNavIcon" src="img/home-home.png" >
  </a>
  <a id="snapChatNavItem" class="item">
    <img id="snapChatNavIcon" src="img/home-snap.png" >
    <!-- <label id='instagramLabel'>SnapChat</label> -->
  </a>
  <a id="instagramNavItem" class="item">
    <img id="instagramNavIcon" src="img/home-ig.png" >
    <!-- <label id='instagramLabel'>Instagram</label> -->
  </a>
  <a id="twitterNavItem" class="item">
    <img id="twitterNavIcon" src="img/home-tweet.png" >
    <!-- <label id='twitterLabel'>Twitter</label> -->
  </a>
  <a id="aboutNavItem" class="item">
    <img id="aboutNavIcon" src="img/home-about.png" >
    <!-- <label id='tumblrLabel'>About</label> -->
  </a>
</div>