<HTML>
<HEAD>
	<pre class="prettyprint">
		<script type="text/javascript" src="http://aueque.tumblr.com/api/read/json"></script>
		<script type="text/javascript">
			document.write('<a href="' + tumblr_api_read['posts'][0]['url'] + '">my most recent Tumblr post.</a>');
		</script>
	</pre>
</HEAD>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<h2>Latest tweets by @Aueque</h2>
<div id="tweetList"></div>
<div id="instafeed"></div>
<script src="js/TwitterPostFetcherMin.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/auequeTwitter.js"></script>
<script src="js/auequeInstagram.js"></script>
</HTML>