<!-- <a class="twitter-timeline"
 href="https://twitter.com/aueque" data-widget-id="569271594577850368"></a>
<script>
!function(d,s,id){
	var js,
	fjs=d.getElementsByTagName(s)[0],
	p=/^http:/.test(d.location)?'http':'https';
	if(!d.getElementById(id)){
		js=d.createElement(s);js.id=id;
		js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);
	}
}
(document,"script","twitter-wjs");
</script> -->

<HTML>
 <link href="css/style.css" rel="stylesheet" type="text/css" />
<h2>Latest tweets by @Aueque</h2>
<div id="tweetList"></div>
<script src="js/TwitterPostFetcherMin.js"></script>
<script src="js/auequeTwitter.js"></script>
</HTML>
